language: go

before_install:
  - go get github.com/axw/gocov/gocov
  - go get github.com/mattn/goveralls
  - go get golang.org/x/tools/cmd/cover
  - go get github.com/golang/lint/golint

script:
  - go vet -x ./...
  - $HOME/gopath/bin/golint ./...
  - go test -v ./...
  - go test -covermode=count -coverprofile=profile.cov

after_script:
  - $HOME/gopath/bin/goveralls -coverprofile=profile.cov -service=travis-ci
